@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&family=Noto+Sans+Sundanese&display=swap');
*{
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    font-family: 'Noto Sans Sundanese', sans-serif;
    margin: 0;
    padding: 0;
}
body{
    background-color: rgba(247, 247, 42, 0.699);
}
.titulo_principal{
    text-align: center;
    position: relative;
}
.text_intro{
    top: 3px;
    position: relative;
}
.texto1{
    font-size: 15px;
    text-align: center;
}
.texto1_1{
    font-size: 15px;
    text-align: center
}
.imagens{
    top: 10px;
    position: relative;
    display: flex;
    justify-content:space-between;
}
.imagens img{
    width: 430px;
    height: 385px;
}
.imagem1{
    left: 10px;
    position: relative;
}
.imagem2{
    right: 10px;
    position: relative;
}
.imagem3{
    right: 15px;
    position: relative;
}
.texto2{
    font-size: 15px;
    text-align: center;
    position: relative;
}
.link{
    left: 500px;
    position: absolute;
    background-color: #a6b7ee;
    border: 5px solid #87d3ad;
    border-radius: 7px; 
}
.imgs_imc img{
    width: 650px;
}
.imgs_imc{
    top: 52px;
    position: relative;
    display: flex;
    justify-content:space-between;
}
.texto3{
    font-size: large;
    left: 0px;
    text-align: left;
    position: relative;
    top: 50px;
}
.imgs3 img{
    height: 400px;
    width: 400px    ;
}
.imgs3{
    top: 50px;
    position: relative;
    display: flex;
    justify-content:space-between;
}
.texto4{
    font-size: large;
    text-align: left;
    top: 50px;
    position: relative;
}