@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&family=Noto+Sans+Sundanese&display=swap');
*{
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    font-family: 'Noto Sans Sundanese', sans-serif;
    margin: 0;
    padding: 0;
}
body{
    background-image:url(../img/Hábitos.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}